<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Paint</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <h1>Online Paint</h1>
    <p>Draw together</p>
    <form action="/" method="post">
      <input name="username" required />
      <button type="submit">Join</button>
    </form>
    <div style="position: absolute; bottom: 0; right: 0; padding: 5px">
      Source on <a href="https://github.com/OhBeomho/online-paint">GitHub</a>
    </div>
  </body>
</html>
