<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Paint - Drawing</title>
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="/draw.css" />
  </head>
  <body>
    <canvas width="1000" height="800"></canvas>
    <canvas width="1000" height="800"></canvas>
    <div class="user-list"></div>
    <div class="mode-selector"></div>
    <div class="chat">
      <ul class="chat-list"></ul>
      <textarea class="chat-input" placeholder="Enter message"></textarea>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/draw.js"></script>
  </body>
</html>
